<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4 col-xs-12">
		<div class="flip-container">
			<div class="flipper">
				<%= @flashcards.each do |flashcard| %>
				<div class="front well">
					<h2>Question</h2>
					<%= flashcard.question %>
				</div>
				<div class="back well">
					<h2>Answer</h2>
					<%= flashcard.answer %>
				</div>
				<% end %>
			</div>
		</div>
		<br/>
		<button onclick="document.querySelector('.flip-container').classList.toggle('hover');" class="btn btn-success" id="flip-btn">Flip over</button>
	</div>
	<div class="col-md-4"></div>
</div>