<% @flashcards.each do |flashcard| %>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
			<h2>Question</h2>
			<%= flashcard.question %>
		</div>
		<div class="back">
			<h2>Answer</h2>
			<%= flashcard.answer %>
		</div>
	</div>
</div>
<% end %>