<div class="row">
	<% @scheduled_review.each do |flashcard| %>
	<div class="col-md-4"></div>
	<div class="col-md-4 col-xs-12">
		<% link_to("Previous", @scheduled_review.previous) if @scheduled_review.previous %>
		<div class="flip-container">
			<div class="flipper">
				<div class="front well">
					<h2>Question</h2>
					<%= flashcard.question %>
				</div>
				<div class="back well">
					<h2>Answer</h2>
					<%= flashcard.answer %>
				</div>
			</div>
		</div>
		<br/>
		<button onclick="document.querySelector('.flip-container').classList.toggle('hover');" class="btn btn-success" id="flip-btn">Flip over</button>
	</div>
	<div class="col-md-4"></div>
	<% end %>
</div>
