<h2>Dashboard</h2>

<div class="row dashboard">
	<div class="col-md-4 well">
		Account Information<hr/>
	</div>

	<div class="col-md-4 well">
		Manage Flashcards<hr/>
	</div>

	<div class="col-md-4 well">
		Scheduled Reviews<hr/>
	</div>
</div>