<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 col-xs-12">
		<div class="flip-container">
			<div class="flipper">
				<%= form_for :flashcard, url: flashcards_path do |f| %>
				<div class="front well">
					<h2>Question</h2>
					<%= f.text_field :question, class: 'form-control' %>
				</div>
				<div class="back well">
					<h2>Answer</h2>
					<%= f.text_area :answer, class: 'form-control' %>
					<%= button_tag 'Create Flashcard', class: 'btn btn-success' do %>
						Create Flashcard <i class="glyphicon glyphicon-plus"></i>
					<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div> <!-- Row -->

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6 col-xs-6">
		<button onclick="document.querySelector('.flip-container').classList.toggle('hover');" class="btn btn-success" id="flip-btn">
			Flip over <i class="glyphicon glyphicon-refresh"></i>
		</button>
	</div>
	<div class="col-md-3"></div>
</div>
