<div class="row">
	<div class="col-md-6 col-xs-12 col-centered">
		<%= form_for :flashcard, url: flashcards_path do |f| %>
		<div class="flipper well">
			<h2>Question</h2>
			<hr/>
			<%= f.text_field :question, class: "form-control" %>
			<br/>

			<h2>Answer</h2>
			<hr/>
			<%= f.text_area :answer, class: "form-control" %>
			<br/>
		</div>
			
		<%= button_tag 'Create Flashcard', class: 'btn btn-success btn-flashcard' do %>
			Create Flashcard <i class="glyphicon glyphicon-plus"></i>
		<% end %>
		<% end %>
	</div>
</div> <!-- Row -->
