<% if !current_user = GuestUser %>
  	<%= link_to signout_path, class: 'btn btn-sucess' do %>
  		<i class="glyphicon glyphicon-minus"></i> Logout
  	<% end %>
    <%= link_to("Logout", signout_path, method: :delete) %>
<% else %>
	<li>
    <%= link_to users_path do %>
    	Login<i class="glyphicon glyphicon-plus"></i>
    </li>
    <% end %>
<% end %>
