<nav class="navbar navbar-default" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img src="app/assets/images/Profile-icon-yellow.jpg"></a>
		  	<%= render "devise/registration_items" %>
		  	<%= render "devise/login_items" %>
		</div>
	</div>
</nav>