<% if !current_user=GuestUser %>
    <%= link_to("Edit Registration", edit_user_registration_path, method: :delete) %>
<% else %>
	<li>
	<%= link_to new_user_path do %>
		Register<i class="glyphicon glyphicon-plus"></i>
	<% end %>
	</li>
<% end %>
